.dropbtn {
  background-color: #010101;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  border-radius: 1em;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 5%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 8.888888888888889rem;
  box-shadow: 0rem 0.4444444444444444rem 0.8888888888888889rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 1em;
}

.dropdown-content a {
  color: black;
  padding: 0.6666666666666667rem 0.8888888888888889rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}